extends layout

block content

  section
    :markdown
      ## Canonical resources for a world of subjects. Start here
      
      The journey of learning a new subject can often overwhelm. [Starting Product](/) can't solve this; but instead aims to simplify the beginning of that journey. By providing canonical resources for beginners to start on the path of learning, we feel we'll lower the barrier to entry for you to learn something new. 
      
      **Our system is to provide 3 starting resources meant to springboard you into learning.**

      We don't think consuming these resources will give you the complete understanding of a subject; just the contrary. These resources are meant to be trusted sources so that you can feel confident you're on the path. But this is only the beginning -- we hope these inspire you to dig more and immerse yourself in a topic to truly understand it better.
