extends layout

block content

  section
    :markdown
      ## Contribute a Topic or Resource
      
      If you have a topic that you want to see covered on [Starting Product](/) or a resource you'd like contribute, please email:
      
      [macdonaldky@gmail.com](mailto:macdonaldky@gmail.com)
