doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Canonical resources for a world of subjects. Start here')
    meta(name='author', content= "Kyle MacDonald")
    title= path
    link(rel='stylesheet', href='/css/master.css')
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro', rel='stylesheet', type='text/css')
  body
    include _header
    block content
    include _footer

  script(data-main="js/main", src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js")
