#header
  padding-bottom: 10px
  
  a
    text-decoration: none

#nav
  text-align: center

    ul
      list-style: none
      padding: 0

      li
        display: inline
        padding-right: 20px

        &:last-child
          padding-right: 0px
