---
title: 'Weightlifting'
date: '1/17/2015'
---

extends _single
block topic_content
  :markdown
    [Starting Strength](http://amzn.to/1BiAAlG) by Mark Rippetoe  
    [Supertraining](http://amzn.to/1BiApGU) by Mel C. Siff  
    [Infinite Intensity](http://amzn.to/1BiAKJG) by Ross Enamait
